* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #111;
    line-height: 1.6;
}

/* buton style */
.btn {
    padding: 12px 22px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px; 
    ;
}
.btn-icon {
    width: 12px;
    height: 12px;
    
}

.primary {
    background-color: #4f46e5;
    color: white;
}

.secondary {
    background-color: #e5e7eb;
}

.btn:hover {
    opacity: 0.85;
    transform: scale(1.05);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    border-bottom: 1px solid #eee;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu li {
    cursor: pointer;
}
banner {
        
    text-align: center;
    padding: 120px 20px;
    background: url(assets/hero-bg.png);
   background-image: url("bg.jpg");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
}

.banner h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.banner p {
    max-width: 750px;
    margin: 0 auto 30px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.notes {
    padding: 70px 60px;
    text-align: center;
}

.subtitle {
    color: #555;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 25px;
}

.card {
    border: 1px solid #ddd;
    padding: 30px;
    flex: 1;
}

.icon {
    width: 52px;
    height: 52px;
    margin: 0 auto 18px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.blue { background: rgba(249, 85, 85, 1); }
.green { background: rgba(249, 85, 85, 1); }
.purple { background: rgba(249, 85, 85, 1); }
.orange { background: rgba(249, 85, 85, 1); }

/* second brain part */
.second-brain {
    display: flex;
    gap: 60px;
    padding: 120px;
    background-color: #f8fafc;
    align-items: center;
    gap: 65;


    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));

font-family: Inter;
font-style: Bold;
text-align: left;
text-transform: capitalize;
}

.image-placeholder {
    width: 360px;
    height: 260px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}
.brain-text{

width: 700px;
height: 396px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 40;



}
.tag {
    color: #4f46e5;
    font-weight: bold;
}

.second-brain ul {
  color: var(--Style, rgba(0, 25, 49, 1));

font-family: Inter;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}

.second-brain li {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 6;


}

/* early access part */
.early-access {
    text-align: center;
    padding: 80px 20px;
}

.small {
    font-size: 14px;
    color: #555;
}

/* footer part */
footer {
    background-color: #111827;
    color: white;
    padding: 35px 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer hr {
    margin: 25px 0;
    border: 0.5px solid #374151;
}

footer p {
    text-align: center;
    font-size: 14px;
}



